html body {
  /*min-width: calc(1000px + 12rem);*/
  overflow: hidden;
  /*overflow-x: hidden;*/
  margin: 0px;
  padding: 0px;
  /*background-image: url('../img/bg.png');
	background-position: center 0;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;*/
}
.mu-grid-tile-titlebar{
  height:35px !important;
}
::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  opacity:0
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ddd;
  opacity:0
}


/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity:0
}


/* 滑块颜色 */

::-webkit-scrollbar-button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity:0
}


/* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
  border-radius: 5px;
  background-color: #ddd;
  opacity:0
}




/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*.bottom {
  height: 50px
}*/

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.cursor {
  cursor: pointer
}

.dir {
  background: #ccc;
  height: 1px;
  width: 100%;
  margin: .5rem 0
}
.wdir {
  border: 0;
  height: 0.5px;
  margin: .5rem 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.mdir{
  background: #f0f0f0;
  height: .5px;
  width: 100%;
  margin: .5rem 0
}

.base-bg {
  background: #41464b;
}

.text-link {
  color: #3399ff;
  cursor: pointer
}

.min-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, .0470588) 0 2px 3px 0;
  transform: translate3d(0, 0, 0);
  transition: all 218ms;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translate3d(0, 0, 0);
  transition: all 218ms;
}

.card2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.card3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.card4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0
}

.card5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)
}

.card-hover:hover {
  cursor: pointer;
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 7px 21px rgba(0, 0, 0, .3);
}

.text-hover {
  transition: all 318ms;
}

.text-hover:hover {
  cursor: pointer;
  transition: all 218ms;
  font-weight: 500;
  transform: translate3d(0, -5px, 0);
}

button {
  border: none;
  outline: none
}

.c-input {
  /*width: 100%;*/
  /*height: 40px;*/
  /*font-size: 0.9rem;*/
  color: #41464b;
  /*line-height: 40px;*/
  border-radius: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
  /*margin-bottom: calc(1.5rem - 1px);*/
  outline: none
}

.c-circle {
  background: #41464b;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%
}

.c-input:focus {
  border-bottom: 1px solid #41464b;
  /*font-size: 1.1rem;*/
  /*margin-bottom: calc(1.5rem - 2px);*/
}

.file {
  position: relative;
  display: inline-block;
  background: #41464b;
  width: 100%;
  color: #fff !important;
  text-align: center;
  border-radius: 2px;
  padding: 0.3rem;
  cursor: pointer;
}

.file input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.card-file {
  width: 150px;
  height: 150px;
  line-height: 150px;
  position: relative;
  display: inline-block;
  background: #f0f0f0;
  color: #000;
  cursor: pointer;
  text-align: center;
}

.card-file input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.btn {
  background: #41464b;
  color: #fff;
}

.c-btn {
  background: #41464b;
  color: #fff;
  /*font-size: 1rem;*/
  padding: .4rem .8rem;
  cursor: pointer;
}

.btn:hover {
  background: #616161;
  color: #fff
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display:-webkit-box;

-webkit-box-orient:vertical;

-webkit-line-clamp:2;
}
.mu-card-media-title{
  padding: 5px !important;
  color: #fff !important;
}
.mu-card-sub-title{
  color: #fff !important;
  font-size: 13px !important
}

.title-border {
    position: absolute;
    top: 6px;
    left: 0;
    height: 14px;
    width: 2px;
    background: #41464b;
    border-radius: 4px
  }

  .card-title {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    position: relative
  }

  .card-conten {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px
  }
  .mu-icon-button{
    padding:0 !important;
    width:1rem !important;
    height:1rem !important;
    font-size:14px !important;
  }
  .mu-list{
    padding:0 !important;
  }
  .mu-item-title{
    font-size:14px !important;
  }
  .popup-bottom{
    width: 100%;
    bottom: 50px;
    border-bottom: 1px solid #ccc;
  }



/*@media only screen and (max-width: 1200px) {
  html{
		font-size: 16px;
	}
}
@media only screen and (max-width: 992px) {
  html{
		font-size: 14px;
	}
}
@media only screen and (max-width: 768px) {
  html{
		font-size: 12px;
	}
}*/
